In [18]:
import mysql.connector
from mysql.connector import Error

# Create a connection to the database

In [19]:
def create_connection(host, user, password, database):
    try:
        connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
        if connection.is_connected():
            print(f'Connected to MySQL database: {database}')
            return connection
    except Error as e:
        print(f'Error: {e}')
        return None

In [20]:
db_host = 'localhost'
db_user = 'root'
db_password = 'your password'
db_name = 'lootech_db'

In [21]:
connection = create_connection(db_host, db_user, db_password, db_name)
cursor = connection.cursor()

Connected to MySQL database: lootech_db

# Create table

In [5]:
cursor.execute('create database if not exists lootech_db')

In [6]:
cursor.execute('USE lootech_db')

In [35]:
cursor.execute('CREATE TABLE model (id INT AUTO_INCREMENT PRIMARY KEY, model_name VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'model' already exists

In [36]:
cursor.execute('CREATE TABLE cpu (id INT AUTO_INCREMENT PRIMARY KEY, cpu_name VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'cpu' already exists

In [37]:
cursor.execute('CREATE TABLE gpu (id INT AUTO_INCREMENT PRIMARY KEY, gpu_name VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'gpu' already exists

In [38]:
cursor.execute('CREATE TABLE category (id INT AUTO_INCREMENT PRIMARY KEY, category_name VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'category' already exists

In [39]:
cursor.execute('CREATE TABLE os (id INT AUTO_INCREMENT PRIMARY KEY, os_name VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'os' already exists

In [40]:
cursor.execute('CREATE TABLE manufacturer (id INT AUTO_INCREMENT PRIMARY KEY, man_name VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'manufacturer' already exists

In [41]:
cursor.execute('CREATE TABLE screen_type (id INT AUTO_INCREMENT PRIMARY KEY, screen_type VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'screen_type' already exists

In [42]:
cursor.execute('CREATE TABLE laptop (\
                 loptop_id INT AUTO_INCREMENT PRIMARY KEY ,\
                 model_id INT,\
                 weight VARCHAR(50),\
                 ram VARCHAR(50),\
                 screen_size VARCHAR(50),\
                 manufacturer_id INT,\
                 screen_type_id INT,\
                 category_id INT,\
                 os_id INT,\
                 cpu_id INT,\
                 gpu_id INT,\
                 FOREIGN KEY (manufacturer_id) REFERENCES manufacturer(id),\
                 FOREIGN KEY (model_id) REFERENCES model(id),\
                 FOREIGN KEY (screen_type_id) REFERENCES screen_type(id),\
                 FOREIGN KEY (category_id) REFERENCES category(id),\
                 FOREIGN KEY (os_id) REFERENCES os(id),\
                 FOREIGN KEY (cpu_id) REFERENCES cpu(id),\
                 FOREIGN KEY (gpu_id) REFERENCES gpu(id))')

In [43]:
cursor.execute('CREATE TABLE branch (id INT AUTO_INCREMENT PRIMARY KEY, branch_name VARCHAR(255))')

ProgrammingError: 1050 (42S01): Table 'branch' already exists

In [44]:
cursor.execute('CREATE TABLE orders (\
                 order_id INT AUTO_INCREMENT PRIMARY KEY,\
                 branch_id INT,\
                 loptop_id INT,\
                 order_date DATE,\
                 priority VARCHAR(1),\
                 price INT,\
                 quantity INT,\
                 discount INT,\
                 total_price INT,\
                 profit INT,\
                 ship_duration INT,\
                 FOREIGN KEY (branch_id) REFERENCES branch(id),\
                 FOREIGN KEY (loptop_id) REFERENCES loptop(loptop_id))')

In [45]:
cursor.execute('CREATE TABLE storage (id INT AUTO_INCREMENT PRIMARY KEY, storage_name VARCHAR(60))')

ProgrammingError: 1050 (42S01): Table 'storage' already exists

In [46]:
cursor.execute('CREATE TABLE laptop_storage (\
                 id INT AUTO_INCREMENT PRIMARY KEY,\
                 loptop_id INT,\
                 storage_id INT,\
                 FOREIGN KEY (loptop_id) REFERENCES loptop(loptop_id),\
                 FOREIGN KEY (storage_id) REFERENCES storage(id))')