In [12]:
import numpy as np
import pandas as pd
import csv
import mysql.connector
import mysql
from mysql.connector import Error

## Create connection to database

In [13]:
def create_connection(host, user, password, database):
    try:
        connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
        if connection.is_connected():
            print(f'Connected to MySQL database: {database}')
            return connection
    except Error as e:
        print(f'Error: {e}')
        return None

In [14]:
db_host = 'localhost'
db_user = 'root'
db_password = '@2081081381mH'
db_name = 'lootech_db'

In [15]:
connection = create_connection(db_host, db_user, db_password, db_name)
cursor = connection.cursor()

Connected to MySQL database: lootech_db

In [7]:
df_storage = pd.read_csv('sales_data.csv', usecols=['Storage'])
df_storage = df_storage.drop_duplicates()
df_storage = df_storage.reset_index(drop=True)
df_storage

                          Storage
0                       256GB SSD
1                         1TB HDD
2            512GB SSD +  1TB HDD
3                       500GB HDD
4                       512GB SSD
5              64GB Flash Storage
6            128GB SSD +  1TB HDD
7                       128GB SSD
8            256GB SSD +  2TB HDD
9                         2TB HDD
10            256GB Flash Storage
11           256GB SSD +  1TB HDD
12         256GB SSD +  256GB SSD
13            128GB Flash Storage
14                     1TB Hybrid
15           128GB SSD +  2TB HDD
16                       32GB SSD
17             32GB Flash Storage
18             16GB Flash Storage
19         512GB SSD +  256GB SSD
20         512GB SSD +  512GB SSD
21                        1GB SSD
22                      128GB HDD
23         256GB SSD +  500GB HDD
24           512GB SSD +  2TB HDD
25            512GB Flash Storage
26                   508GB Hybrid
27        256GB SSD +  1TB Hybrid
28                        1TB SSD
29             1TB HDD +  1TB HDD
30             1TB SSD +  1TB HDD
31  64GB Flash Storage +  1TB HDD
32                       16GB SSD
33        512GB SSD +  1TB Hybrid
34                       64GB SSD
35                        8GB SSD
36                       32GB HDD
37                      240GB SSD

In [8]:
table_name = 'storage'

for _, row in df_storage.iterrows():
    insert_query = f"INSERT INTO {table_name} (storage_name) VALUES ('{row['Storage']}')"
    cursor.execute(insert_query)

connection.commit()

In [9]:
df_model = pd.read_csv('sales_data.csv', usecols=['Model_Name'])
df_model = df_model.drop_duplicates()
df_model = df_model.reset_index(drop=True)
df_model

                                Model_Name
0                              Vostro 3568
1                           Yoga 720-13IKB
2                       IdeaPad Y700-15ISK
3                            Inspiron 5370
4                           Aspire E5-576G
..                                     ...
613         V110-15IAP (N3350/4GB/128GB/No
614       V131 (X5-Z8350/4GB/32GB/FHD/W10)
615         X541NA (N3350/4GB/1TB/FHD/W10)
616                            GT73EVR 7RE
617  15-bs018nq (i3-6006U/4GB/500GB/FHD/No

[618 rows x 1 columns]

In [10]:
table_name = 'model'

for _, row in df_model.iterrows():
    insert_query = f"INSERT INTO {table_name} (model_name) VALUES ('{row['Model_Name']}')"
    cursor.execute(insert_query)
    
connection.commit()

In [11]:
df_cpu = pd.read_csv('sales_data.csv', usecols=['CPU'])
df_cpu = df_cpu.drop_duplicates()
df_cpu = df_cpu.reset_index(drop=True)
df_cpu

                                      CPU
0              Intel Core i5 7200U 2.5GHz
1             Intel Core i7 6700HQ 2.6GHz
2              Intel Core i7 8550U 1.8GHz
3                     AMD FX 8800P 2.1GHz
4              Intel Core i7 7500U 2.7GHz
..                                    ...
113             AMD A4-Series 7210 2.2GHz
114              Intel Atom Z8350 1.92GHz
115              AMD E-Series 9000 2.2GHz
116         Intel Xeon E3-1535M v6 3.1GHz
117  Intel Celeron Dual Core N3350 2.0GHz

[118 rows x 1 columns]

In [16]:
table_name = 'cpu'

for _, row in df_cpu.iterrows():
    insert_query = f"INSERT INTO {table_name} (cpu_name) VALUES ('{row['CPU']}')"
    cursor.execute(insert_query)
    
connection.commit()

In [17]:
df_gpu = pd.read_csv('sales_data.csv', usecols=['GPU'])
df_gpu = df_gpu.drop_duplicates()
df_gpu = df_gpu.reset_index(drop=True)
df_gpu

                         GPU
0         AMD Radeon R5 M420
1      Intel HD Graphics 620
2    Nvidia GeForce GTX 960M
3             AMD Radeon 530
4       Nvidia GeForce 940MX
..                       ...
105       Nvidia GTX 980 SLI
106  Intel Iris Graphics 550
107            AMD Radeon R3
108   Nvidia GeForce GTX1080
109      Nvidia GeForce 960M

[110 rows x 1 columns]

In [18]:
table_name = 'gpu'

for _, row in df_gpu.iterrows():
    insert_query = f"INSERT INTO {table_name} (gpu_name) VALUES ('{row['GPU']}')"
    cursor.execute(insert_query)
    
connection.commit()

In [19]:
df_category = pd.read_csv('sales_data.csv', usecols=['Category'])
df_category = df_category.drop_duplicates()
df_category = df_category.reset_index(drop=True)
df_category

             Category
0            Notebook
1  2 in 1 Convertible
2           Ultrabook
3              Gaming
4         Workstation
5             Netbook

In [20]:
table_name = 'category'

for _, row in df_category.iterrows():
    insert_query = f"INSERT INTO {table_name} (category_name) VALUES ('{row['Category']}')"
    cursor.execute(insert_query)

connection.commit()

In [21]:
df_os = pd.read_csv('sales_data.csv', usecols=['OS'])
df_os = df_os.drop_duplicates()
df_os = df_os.reset_index(drop=True)
df_os

          OS
0    Windows
1  Chrome OS
2      Linux
3     Mac OS
4      No OS
5      macOS
6    Android

In [22]:
table_name = 'os'

for _, row in df_os.iterrows():
    insert_query = f"INSERT INTO {table_name} (os_name) VALUES ('{row['OS']}')"
    cursor.execute(insert_query)

connection.commit()

In [23]:
df_manufacturer = pd.read_csv('sales_data.csv', usecols=['Manufacturer'])
df_manufacturer = df_manufacturer.drop_duplicates()
df_manufacturer = df_manufacturer.reset_index(drop=True)
df_manufacturer

   Manufacturer
0          Dell
1        Lenovo
2          Acer
3            HP
4       Fujitsu
5          Asus
6           MSI
7       Toshiba
8         Apple
9       Samsung
10       Huawei
11    Microsoft
12       Xiaomi
13        Razer
14     Mediacom
15        Chuwi
16       Google
17           LG
18         Vero

In [24]:
table_name = 'manufacturer'

for _, row in df_manufacturer.iterrows():
    insert_query = f"INSERT INTO {table_name} (man_name) VALUES ('{row['Manufacturer']}')"
    cursor.execute(insert_query)

connection.commit()

In [25]:
df_screen = pd.read_csv('sales_data.csv', usecols=['Screen_Size'])
df_screen = df_screen.drop_duplicates()
df_screen = df_screen.reset_index(drop=True)
df_screen

   Screen_Size
0        15.6"
1        13.3"
2        14.0"
3        11.6"
4        17.3"
5        13.9"
6        12.0"
7        15.0"
8        13.0"
9        13.5"
10       12.5"
11       10.1"
12       15.4"
13       11.3"
14       12.3"
15       17.0"
16       18.4"
17       14.1"

In [26]:
table_name = 'screen_type'

for _, row in df_screen.iterrows():
    insert_query = f"INSERT INTO {table_name} (screen_type) VALUES ('{row['Screen_Size']}')"
    cursor.execute(insert_query)

connection.commit()

In [27]:
df_branch = pd.read_csv('sales_data.csv', usecols=['Branch'])
df_branch = df_branch.drop_duplicates()
df_branch = df_branch.reset_index(drop=True)
df_branch

        Branch
0      Hamedan
1   Kermanshah
2        Rasht
3        Karaj
4      Mashhad
5         Yazd
6        Ahvaz
7         Arak
8      Isfahan
9       Tehran
10        Kish
11        Sari
12      Shiraz
13    Orumiyeh
14      Tabriz
15      Zanjan

In [28]:
table_name = 'branch'

for _, row in df_branch.iterrows():
    insert_query = f"INSERT INTO {table_name} (branch_name) VALUES ('{row['Branch']}')"
    cursor.execute(insert_query)

connection.commit()

## Insert data into relational tables

In [34]:
connection = create_connection(db_host, db_user, db_password, db_name)
cursor = connection.cursor(buffered=True)
try:
    with open('sales_data.csv', 'r') as csvfile:
        csvreader = csv.DictReader(csvfile)
        for row in csvreader:
            model_name = row['Model_Name']
            man_name = row['Manufacturer']
            screen_type = row['Screen_Size']
            cpu_name = row['CPU']
            gpu_name = row['GPU']
            category_name = row['Category']
            os_name = row['OS']
            weight = row['Weight']
            ram = row['RAM']
            screen_size = row['Screen']
            
            if not connection.is_connected():
                connection.connect()
                
            cursor.execute("SELECT id FROM model WHERE model_name = %s", (model_name,))
            result = cursor.fetchone()
            if result is not None:
                model_id = result[0]
            else:
                model_id = None
                
            cursor.execute("SELECT id FROM manufacturer WHERE man_name = %s", (man_name,))
            result = cursor.fetchone()
            if result is not None:
                manufacturer_id = result[0]
            else:
                manufacturer_id = None
                
            cursor.execute("SELECT id FROM manufacturer WHERE man_name = %s", (man_name,))
            result = cursor.fetchone()
            if result is not None:
                manufacturer_id = result[0]
            else:
                manufacturer_id = None
                
            cursor.execute("SELECT id FROM screen_type WHERE screen_type = %s", (screen_type,))
            result = cursor.fetchone()
            if result is not None:
                screen_type_id = result[0]
            else:
                screen_type_id = None
                
            cursor.execute("SELECT id FROM cpu WHERE cpu_name = %s", (cpu_name,))
            result = cursor.fetchone()
            if result is not None:
                cpu_id = result[0]
            else:
                cpu_id = None
                
            cursor.execute("SELECT id FROM gpu WHERE gpu_name = %s", (gpu_name,))
            result = cursor.fetchone()
            if result is not None:
                gpu_id = result[0]
            else:
                gpu_id = None
                
            cursor.execute("SELECT id FROM category WHERE category_name = %s", (category_name,))
            result = cursor.fetchone()
            if result is not None:
                category_id = result[0]
            else:
                category_id = None
                
            cursor.execute("SELECT id FROM os WHERE os_name = %s", (os_name,))
            result = cursor.fetchone()
            if result is not None:
                os_id = result[0]
            else:
                os_id = None
                
            cursor.execute("INSERT INTO laptop (model_id, manufacturer_id, screen_type_id, cpu_id, gpu_id, category_id, os_id, weight, ram, screen_size) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", 
                           (model_id, manufacturer_id, screen_type_id, cpu_id, gpu_id, category_id, os_id, weight, ram, screen_size))
            
            connection.commit()
        
except Error as e:
    print(f'Error: {e}')
    
finally:
    cursor.close()
    connection.close()

Connected to MySQL database: lootech_db

In [2]:
import mysql.connector as connection
import pandas as pd

In [9]:
db = None  # Define the db variable before the try block
result_dataFrame = None
try:
    db = connection.connect(host="localhost", database='lootech_db', user="root", passwd="@2081081381mH", use_pure=True)
    query = "SELECT loptop_id, model_name FROM laptop JOIN model ON laptop.model_id = model.id ORDER BY loptop_id;"
    result_dataFrame = pd.read_sql(query, db)
except Exception as e:
    print(str(e))
finally:
    if db is not None:
        db.close()

# You can now use result_dataFrame outside the try block
result_dataFrame.reset_index()
result_dataFrame

/var/folders/p4/zzmk6z991g51fytktfhyxh_80000gn/T/ipykernel_17367/1108932096.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pd.read_sql(query, db)

         loptop_id                               model_name
0                1                              Vostro 3568
1                2                           Yoga 720-13IKB
2                3                       IdeaPad Y700-15ISK
3                4                            Inspiron 5370
4                5                           Aspire E5-576G
...            ...                                      ...
1017076    1017077                       Legion Y520-15IKBN
1017077    1017078  V330-15IKB (i5-8250U/4GB/500GB/FHD/W10)
1017078    1017079                              Vostro 5568
1017079    1017080                          Envy 13-AB020nr
1017080    1017081                            Inspiron 3567

[1017081 rows x 2 columns]

In [10]:
df_order1 = pd.read_csv('sales_data.csv', usecols=['Branch','Order_Date', 'Order_Priority','Price', 'Quantity', 'Discount', 'Total_Price', 'Profit', 'Ship_Duration'])
df_order = pd.concat([df_order1, result_dataFrame], axis=1)
df_order.reset_index(drop=True, inplace=True)
df_order.to_csv('order.csv', index=False)

In [20]:
connection = create_connection(db_host, db_user, db_password, db_name)
cursor = connection.cursor(buffered=True)
try:
    with open('order.csv', 'r') as csvreader:
        csvreader = csv.DictReader(csvreader)
        for row in csvreader:
            branch_name = row['Branch']
            loptop_id = row['loptop_id']
            order_date = row['Order_Date']
            priority = row['Order_Priority']
            price = row['Price']
            quantity = row['Quantity']
            discount = row['Discount']
            total_price = row['Total_Price']
            profit = row['Profit']
            ship_duration = row['Ship_Duration']
            
            if not connection.is_connected():
                connection.connect()
            cursor.execute("SELECT id FROM branch WHERE branch_name = %s", (branch_name,))
            result = cursor.fetchone()
            if result is not None:
                branch_id = result[0]
            else:
                branch_id = None
                
            cursor.execute("SELECT loptop_id FROM laptop WHERE loptop_id = %s", (loptop_id,))
            result = cursor.fetchone()
            if result is not None:
                loptop_id = result[0]
            else:
                loptop_id = None
                
            cursor.execute("INSERT INTO orders (branch_id, loptop_id, order_date, priority, price, quantity, discount, total_price, profit, ship_duration) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", 
                           (branch_id, loptop_id, order_date, priority, price, quantity, discount, total_price, profit, ship_duration))
                
            connection.commit()

except Error as e:
    print(f'Error: {e}')
    
finally:
    cursor.close()
    connection.close()

Connected to MySQL database: lootech_db

In [22]:
df_storage1 = pd.read_csv('sales_data.csv', usecols=['Storage'])
df_storage = pd.concat([df_storage1, result_dataFrame], axis=1)
df_storage.reset_index(drop=True, inplace=True)
df_storage.to_csv('storage.csv', index=False)

In [23]:
connection = create_connection(db_host, db_user, db_password, db_name)
cursor = connection.cursor(buffered=True)

with open('storage.csv', 'r') as csvreader:
    csvreader = csv.DictReader(csvreader)
    for row in csvreader:
        storage_name = row['Storage']
        loptop_id = row['loptop_id']
        
        if not connection.is_connected():
            connection.connect()
            
        cursor.execute("SELECT id FROM storage WHERE storage_name = %s", (storage_name,))
        result = cursor.fetchone()
        if result is not None:
            storage_id = result[0]
        else:
            storage_id = None
            
        cursor.execute("SELECT loptop_id FROM laptop WHERE loptop_id = %s", (loptop_id,))
        result = cursor.fetchone()
        if result is not None:
            loptop_id = result[0]
        else:
            loptop_id = None
            
        cursor.execute("INSERT INTO laptop_storage (storage_id, loptop_id) VALUES (%s, %s)", (storage_id, loptop_id))
        
        connection.commit()

Connected to MySQL database: lootech_db