In [1]:
import pandas as pd
import csv
import mysql.connector
import mysql
from mysql.connector import Error
import re

# Create a connection to the database

In [2]:
def create_connection(host, user, password, database):
    try:
        connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
        if connection.is_connected():
            print(f'Connected to MySQL database: {database}')
            return connection
    except Error as e:
        print(f'Error: {e}')
        return None

In [3]:
db_host = 'localhost'
db_user = 'root'
db_password = 'your_password'
db_name = 'meghdad_db'

In [4]:
connection = create_connection(db_host, db_user, db_password, db_name) 
cursor = connection.cursor()

Connected to MySQL database: meghdad_db

In [21]:
df_storage = pd.read_csv('Laptops_final.csv', usecols=['hard_disk'])
df_storage = df_storage.drop_duplicates()
df_storage = df_storage.reset_index(drop=True)
df_storage

                   hard_disk
0               256 گیگابایت
1               512 گیگابایت
2                  1 ترابایت
3               128 گیگابایت
4                  2 ترابایت
5               500 گیگابایت
6        8 گیگابایت1 ترابایت
7                64 گیگابایت
8      256 گیگابایت1 ترابایت
9      128 گیگابایت1 ترابایت
10     512 گیگابایت1 ترابایت
11     256 گیگابایت2 ترابایت
12     128 گیگابایت2 ترابایت
13   512 گیگابایت1.5 ترابایت
14     240 گیگابایت1 ترابایت
15     240 گیگابایت2 ترابایت
16                      SATA
17      16 گیگابایت1 ترابایت
18      24 گیگابایت1 ترابایت
19               1.5 ترابایت
20      24 گیگابایت2 ترابایت
21    24 گیگابایت1.5 ترابایت
22     120 گیگابایت1 ترابایت
23     500 گیگابایت1 ترابایت
24     250 گیگابایت1 ترابایت
25              250 گیگابایت
26  128 گیگابایت500 گیگابایت
27     960 گیگابایت1 ترابایت
28               32 گیگابایت
29               16 گیگابایت
30   32 گیگابایت500 گیگابایت
31     512 گیگابایت2 ترابایت
32              320 گیگابایت
33              750 گیگابایت
34    8 گیگابایت500 گیگابایت
35      16 گیگابایت2 ترابایت
36              192 گیگابایت

In [22]:
table_name = 'storage'

for _, row in df_storage.iterrows():
    insert_query = f"INSERT INTO {table_name} (storage_name) VALUES ('{row['hard_disk']}')"
    cursor.execute(insert_query)

connection.commit()

In [5]:
df_manufactor = pd.read_csv('Laptops_final.csv', usecols=['manufactor'])
df_manufactor = df_manufactor.drop_duplicates()
df_manufactor = df_manufactor.reset_index(drop=True)
df_manufactor

  manufactor
0      apple
1  microsoft
2       asus
3         hp
4        msi
5       dell
6     lenovo
7       acer

In [7]:
table_name = 'manufacture'

for _, row in df_manufactor.iterrows():
    insert_query = f"INSERT INTO {table_name} (man_name) VALUES ('{row['manufactor']}')"
    cursor.execute(insert_query)

connection.commit()

In [5]:
df_screen_type = pd.read_csv('Laptops_final.csv', usecols=['Screen_type'])
df_screen_type = df_screen_type.drop_duplicates()
df_screen_type = df_screen_type.reset_index(drop=True)
df_screen_type

                                           Screen_type
0                                  IPS LED-backlit LCD
1                                       Retina display
2                            Liquid Retina XDR display
3    13.3inch (diagonal) LED-backlit display with I...
4    13.6inch (diagonal) LED-backlit display with I...
..                                                 ...
242                               Acer CineCrystal LED
243                              TFT LED - backlit LCD
244                               TFT LED-backlit LCD
245                                                LCD
246                            Acer comfy View LED LCD

[247 rows x 1 columns]

In [7]:
table_name = 'screen_type'

for _, row in df_screen_type.iterrows():
    insert_query = f"INSERT INTO {table_name} (screen_type) VALUES ('{row['Screen_type']}')"
    cursor.execute(insert_query)

connection.commit()

In [19]:
df_resolution = pd.read_csv('Laptops_final.csv', usecols=['Screen_resolution'])
df_resolution = df_resolution.drop_duplicates()
df_resolution = df_resolution.reset_index(drop=True)
df_resolution.drop([3, 5, 16, 22, 23], inplace = True)
df_resolution

   Screen_resolution
0        1600 * 2560
1          3024*1964
2          3456*2234
4        1800 * 2880
6        1440 * 2304
7         900 * 1440
8         768 * 1366
9         1440*1050
10        800 * 1280
11       2160 * 3840
12       2256 * 1504
13       2000 * 3000
14      1080 * 1920
15         1200*1920
17       1620 * 2880
18       1440 * 2560
19         2560*1920
20       2160 * 4095
21       1800 * 3200
24        900 * 1600

In [21]:
df_resolution = df_resolution['Screen_resolution'].str.split('*', expand=True)
df_resolution

        0       1
0   1600     2560
1    3024    1964
2    3456    2234
4   1800     2880
6   1440     2304
7    900     1440
8    768     1366
9    1440   1050
10   800     1280
11  2160     3840
12  2256     1504
13  2000     3000
14  1080    1920
15   1200    1920
17  1620     2880
18  1440     2560
19   2560    1920
20  2160     4095
21  1800     3200
24   900     1600

In [23]:
table_name = 'resolution'

for _, row in df_resolution.iterrows():
    insert_query = f"INSERT INTO {table_name} (screen_y, screen_x) VALUES ('{row[0]}', '{row[1]}')"
    cursor.execute(insert_query)
    
connection.commit()

In [31]:
df_ram_type = pd.read_csv('Laptops_final.csv', usecols=['RAM_type'])
df_ram_type = df_ram_type.drop_duplicates()
df_ram_type = df_ram_type.reset_index(drop=True)
df_ram_type.drop([0, 4, 7], inplace = True)
df_ram_type

         RAM_type
1  unified memory
2            DDR4
3            DDR3
5           DDR3L
6            DDR5

In [32]:
df_gpu_model = pd.read_csv('Laptops_final.csv', usecols=['graphic_model'])
df_gpu_model = df_gpu_model.drop_duplicates()
df_gpu_model = df_gpu_model.reset_index(drop=True)
df_gpu_model

                                         graphic_model
0                  7core Apple-designed integrated GPU
1                                                  NaN
2    14core GPU16core Neural Engine200GB/s memory b...
3    16core GPU16core Neural Engine200GB/s memory b...
4    10core GPU16-core Neural Engine100GB/s memory ...
..                                                 ...
730                               GeForce MX 550 GDDR6
731                                GeForce MX350 GDDR5
732                                   Geforce GTX 1650
733                                    Geforce RTX3070
734                                      Geforce MX۳۵۰

[735 rows x 1 columns]

In [33]:
table_name = 'gpu_model'

for _, row in df_gpu_model.iterrows():
    insert_query = f"INSERT INTO {table_name} (gpu_name) VALUES ('{row['graphic_model']}')"
    cursor.execute(insert_query)
    
connection.commit()

In [34]:
df_category = pd.read_csv('Laptops_final.csv', usecols=['laptop_type'])
df_category = df_category.drop_duplicates()
df_category = df_category.reset_index(drop=True)
df_category

        laptop_type
0            مک‌بوک
1               NaN
2          آلترابوک
3  نوت بوک (لپ تاپ)
4          کروم بوک

In [35]:
table_name = 'category'

for _, row in df_category.iterrows():
    insert_query = f"INSERT INTO {table_name} (category_name) VALUES ('{row['laptop_type']}')"
    cursor.execute(insert_query)
    
connection.commit()

In [38]:
df_size = pd.read_csv('Laptops_final.csv', usecols=['laptop_size'])
df_size = df_size.drop_duplicates()
df_size = df_size.reset_index(drop=True)
df_size

                     laptop_size
0      304.1x212.4x16.1 میلی‌متر
1    30.41x21.24x1.61 سانتی ‌متر
2         312x212.2x156 میلی‌متر
3           355x248x168 میلی‌متر
4    1.56*30.41*21.24 سانتی ‌متر
..                           ...
907     19.9×238.4×363.4 میلیمتر
908          362x254x23 میلی‌متر
909       363.4x255x23.9 ميليمتر
910      ۲۲۳x۳۲۸x ۱۷.۹۵ میلی‌متر
911    26.75 * 256 * 360 ميليمتر

[912 rows x 1 columns]

In [40]:
table_name = 'size'

for _, row in df_size.iterrows():
    insert_query = f"INSERT INTO {table_name} (size) VALUES ('{row['laptop_size']}')"
    cursor.execute(insert_query)

connection.commit()

In [6]:
df_cpu_man = pd.read_csv('Laptops_final.csv', usecols=['CPU_manufacturer'])
df_cpu_man = df_cpu_man.drop_duplicates()
df_cpu_man = df_cpu_man.reset_index(drop=True)
df_cpu_man

  CPU_manufacturer
0            Apple
1            INTEL
2              AMD
3          Carrizo

In [7]:
table_name = 'cpu_manufacture'

for _, row in df_cpu_man.iterrows():
    insert_query = f"INSERT INTO {table_name} (cpu_man) VALUES ('{row['CPU_manufacturer']}')"
    cursor.execute(insert_query)

connection.commit()

In [8]:
df_cpu_series = pd.read_csv('Laptops_final.csv', usecols=['CPU_series'])
df_cpu_series = df_cpu_series.drop_duplicates()
df_cpu_series = df_cpu_series.reset_index(drop=True)
df_cpu_series

   CPU_series
0          M1
1      M1 Pro
2          M2
3     Core i7
4      M2 Pro
..        ...
56     Athlon
57    E1-7010
58    A6-9210
59   FX-9800P
60   A4-9120E

[61 rows x 1 columns]

In [15]:
table_name = 'cpu_series'

for _, row in df_cpu_series.iterrows():
    insert_query = f"INSERT INTO {table_name} (cpu_series) VALUES ('{row['CPU_series']}')"
    cursor.execute(insert_query)

connection.commit()

In [16]:
df_cpu_model = pd.read_csv('Laptops_final.csv', usecols=['CPU_model'])
df_cpu_model = df_cpu_model.drop_duplicates()
df_cpu_model = df_cpu_model.reset_index(drop=True)
df_cpu_model

                                             CPU_model
0                                        Apple M1 Chip
1                               M1 Pro with 8-core CPU
2                              M1 Pro with 10-core CPU
3    M2 chip with 8‑core CPU, 10‑core GPU, 16‑core ...
4    8core CPU with 4 performance cores and 4 effic...
..                                                 ...
259                                       Ryzen 5 3500
260                                           i5-1240P
261                                            i7-7500
262                                               7Y54
263                                     Celeron-N2820

[264 rows x 1 columns]

In [18]:
table_name = 'cpu_model'

for _, row in df_cpu_model.iterrows():
    insert_query = f"INSERT INTO {table_name} (cpu_name) VALUES ('{row['CPU_model']}')"
    cursor.execute(insert_query)

connection.commit()

In [30]:
df_gpu_man = pd.read_csv('Laptops_final.csv', usecols=['graphic_manufacturer'])
df_gpu_man = df_gpu_man.drop_duplicates()
df_gpu_man = df_gpu_man.reset_index(drop=True)
df_gpu_man.drop([6,7,8,9], inplace=True)
df_gpu_man

  graphic_manufacturer
0                Apple
1                  AMD
2                Intel
3          AMD Radeon
4        Nvidia Gforce
5               Nvidia

In [31]:
table_name = 'gpu_manufacture'

for _, row in df_cpu_model.iterrows():
    insert_query = f"INSERT INTO {table_name} (gpu_man) VALUES ('{row['CPU_model']}')"
    cursor.execute(insert_query)

connection.commit()

In [23]:
connection = create_connection(db_host, db_user, db_password, db_name)
cursor = connection.cursor(buffered=True)

try:
    with open('Laptops_final.csv', 'r') as csvfile:
        csvreader = csv.DictReader(csvfile)
        for row in csvreader:
            man_name = row['manufactor']
            category_name = row['laptop_type']
            size = row['laptop_size']
            screen_type = row['Screen_type']
            resolution = row['Screen_resolution']
            cpu_man = row['CPU_manufacturer']
            cpu_series = row['CPU_series']
            cpu_model = row['CPU_model']
            ram_type = row['RAM_type']
            gpu_man = row['graphic_manufacturer']
            gpu_model = row['graphic_model']
            name = row['name']
            ename = row['ename']
            aprice = row['aprice']
            sprice = row['sprice']
            weight = row['laptop_weight']
            screen_size = row['Screen_size']
            cpu_frequncy_d = row['CPU_frequency']
            cpu_frequncy = re.findall(r'\d', cpu_frequncy_d)
            if cpu_frequncy:
                cpu_frequncy = int(''.join(cpu_frequncy))
            else:
                cpu_frequncy = None
            cache_memory_d = row['cache_memory']
            cache_memory = re.findall(r'\d', cache_memory_d)
            if cache_memory:
                cache_memory = int(''.join(cache_memory))
            else:
                cache_memory = None
            ram_d = row['RAM']
            ram = re.findall(r'\d', ram_d)
            if ram:
                ram = int(''.join(ram))
            else:
                ram = None
            hard_d = row['hard_disk']
            hard = re.findall(r'\d', hard_d)
            if hard:
                hard = int(''.join(hard))
            else:
                hard = None
            graphic_memory_d = row['graphic_memory']
            graphic_memory = re.findall(r'\d', graphic_memory_d)
            if graphic_memory:
                graphic_memory = int(''.join(graphic_memory))
            else:
                graphic_memory = None

            if not connection.is_connected():
                connection.connect()

            cursor.execute("SELECT id FROM manufacture WHERE man_name = %s", (man_name,))
            result = cursor.fetchone()
            if result is not None:
                manufacturer_id = result[0]
            else:
                manufacturer_id = None

            cursor.execute("SELECT id FROM category WHERE category_name = %s", (category_name,))
            result = cursor.fetchone()
            if result is not None:
                type_id = result[0]
            else:
                type_id = None

            cursor.execute("SELECT id FROM size WHERE size = %s", (size,))
            result = cursor.fetchone()
            if result is not None:
                size_id = result[0]
            else:
                size_id = None

            cursor.execute("SELECT id FROM screen_type WHERE screen_type = %s", (screen_type,))
            result = cursor.fetchone()
            if result is not None:
                screen_type_id = result[0]
            else:
                screen_type_id = None

            # Split resolution only if it contains an asterisk
            resolution_parts = resolution.split('*')
            if len(resolution_parts) == 2:
                cursor.execute("SELECT id FROM resolution WHERE screen_y = %s AND screen_x = %s", (resolution_parts[0], resolution_parts[1]))
                result = cursor.fetchone()
                if result is not None:
                    resolution_id = result[0]
                else:
                    resolution_id = None
            else:
                resolution_id = None

            cursor.execute("SELECT id FROM cpu_manufacture WHERE cpu_man = %s", (cpu_man,))
            result = cursor.fetchone()
            if result is not None:
                cpu_man_id = result[0]
            else:
                cpu_man_id = None

            cursor.execute("SELECT id FROM cpu_series WHERE cpu_series = %s", (cpu_series,))
            result = cursor.fetchone()
            if result is not None:
                cpu_series_id = result[0]
            else:
                cpu_series_id = None

            cursor.execute("SELECT id FROM cpu_model WHERE cpu_name = %s", (cpu_model,))
            result = cursor.fetchone()
            if result is not None:
                cpu_model_id = result[0]
            else:
                cpu_model_id = None

            cursor.execute("SELECT id FROM ram_type WHERE ram_name = %s", (ram_type,))
            result = cursor.fetchone()
            if result is not None:
                ram_type_id = result[0]
            else:
                ram_type_id = None

            cursor.execute("SELECT id FROM gpu_manufacture WHERE gpu_man = %s", (gpu_man,))
            result = cursor.fetchone()
            if result is not None:
                gpu_man_id = result[0]
            else:
                gpu_man_id = None

            cursor.execute("SELECT id FROM gpu_model WHERE gpu_name = %s", (gpu_model,))
            result = cursor.fetchone()
            if result is not None:
                gpu_model_id = result[0]
            else:
                gpu_model_id = None

            cursor.execute("INSERT INTO laptop (manufacturer_id, type_id, size_id, screen_type_id, resolution_id, cpu_man_id, cpu_series_id, cpu_model_id, ram_type_id, gpu_man_id, gpu_model_id, name, ename, aprice, sprice, weight, screen_size, cpu_frequncy, cache_memory, ram, hard_disk, graphic_memory) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (manufacturer_id, type_id, size_id, screen_type_id, resolution_id, cpu_man_id, cpu_series_id, cpu_model_id, ram_type_id, gpu_man_id, gpu_model_id, name, ename, aprice, sprice, weight, screen_size, cpu_frequncy, cache_memory, ram, hard, graphic_memory))

            connection.commit()

finally:
    cursor.close()
    connection.close()

Connected to MySQL database: meghdad_db

In [25]:
df_loptop_storage = pd.read_csv('Laptops_final.csv', usecols=['name','hard_disk'])
df_loptop_storage.reset_index(drop=True, inplace=True)
df_loptop_storage.to_csv('laptop_storage.csv', index=False)

In [28]:
connection = create_connection(db_host, db_user, db_password, db_name)
cursor = connection.cursor(buffered=True)

with open('laptop_storage.csv', 'r') as csvfile:
    csvreader = csv.DictReader(csvfile)
    for row in csvreader:
        name = row['name']
        storage = row['hard_disk']
        
        cursor.execute("SELECT laptop_id FROM laptop WHERE name = %s", (name,))
        result = cursor.fetchone()
        if result is not None:
            laptop_id = result[0]
        else:
            laptop_id = None
        
        cursor.execute("SELECT id FROM storage WHERE storage_name = %s", (storage,))
        result = cursor.fetchone()
        if result is not None:
            storage_id = result[0]
        else:
            storage_id = None
        
        cursor.execute("INSERT INTO laptop_storage (laptop_id, storage_id) VALUES (%s, %s)", (laptop_id, storage_id))
        connection.commit()

Connected to MySQL database: meghdad_db